<%if show_link%>
  <div class="four wide column">
<%else%>
  <div class="four wide column">
<%end%>
<% if product.image.present?%>
  <% if show_link%>
    <%= image_tag product.image.url(:medium), alt: "Product", :class => "product_image"%>
  <%else%>
    <%= image_tag product.image.url ,alt: "Product"%>
  <%end%>
<%end%>
<%if show_link %>
  <div>
    <b>Name: </b><%= link_to product.name, product,:class =>"product_link"%>
  </div>
<%else%>
  <div id="singleItem">
    <b><%= product.name%></b>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: add_item_product_path(product)) do |f| %>
          <input id="qty" type="number" name="qty" min="1" max="99" value="1" step="1">
          <%= f.submit "Add Item", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
<%end%>
<%if cart%>
  <p>Qty: <%=session[:cart][@i]["qty"]%></p>
  <% @i = @i +1%>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: add_item_product_path(product)) do |f| %>
              <input id="qty" type="number" name="qty" min="1" max="99" value="1" step="1">
              <%= f.submit "Update Item", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
  <%= link_to 'Remove From Cart', remove_item_product_path(product),:class =>"product_link", method: :post%>
<%end%>
  <b>Price: $</b><%= product.price%>
  <% if !cart%>
    <b>Stock: </b><%= product.stock%>
  <%end%>
  <br />
  <%if !show_link %>
    <b>SKU:</b><%= product.sku%> <br />
    <b>Description: </b><%= product.description%>
  <%end%>
</div>


