  <div class="four wide column">
  <% if product.image.present?%>
    <% if show_link%>
      <%= image_tag product.image.url(:medium)%>
    <%else%>
      <%= image_tag product.image.url%>
    <%end%>
  <%end%>
     <p>
     <%if show_link %>
       <b>Name: </b><%= link_to product.name, product%>
      <%else%>
        <%= product.name%>
        <%= link_to 'Add To Cart', add_item_product_path(product), method: :post%>
      <%end%><br/>
       <b>Price: </b><%= product.price%>
       <b>Stock: </b><%= product.stock%>
       <br />
       <%if !show_link %>
        <b>SKU:</b><%= product.sku%> <br />
        <b>Description: </b><%= product.description%>
       <%end%>
     </p>
  </div>

