<h1>Checkout</h1>
<h4>Subtotal: $<%=@subtotal%></h4>
<h2>Taxes:</h2>
<h4>GST: $<%=(@subtotal*@prov.GST) %></h4>
<h3>Total: $<%=@subtotal +(@subtotal*@prov.GST) %></h3>
<%= link_to 'Make Purchase', make_order_product_index_path, method: :post%>
<div class ="ui grid">
  <%= render partial: 'product', collection: @cart,
          locals: {show_link: true,cart: true,checkout:true}%>
</div>