<!DOCTYPE html>
<html>
  <head>
    <title>YottaBytev2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="/assets/Yottabyte_Logo_Horizontal.png" height="50" width="200">
    <%= render partial: 'shared/nav'%>
    </header>

    <%= yield %>
  <!-- <footer>
      <h2 class="ui header" id="footer_title">
        <img src="/assets/Yottabyte_Logo.jpg">
        <div class="content" id="title">
          Yottabyte
          <div class="sub header" id="title">Where data is sick</div>
        </div>
      </h2>
      <nav clas="ui secondary pointing menu" id="footer_nav">
        <div class="item"><%= link_to 'Home',root_path%></div>
        <div class="item"><a href ="/about" >About</a></div>
        <div class="item"><a href="/cart">Shopping Cart</a></div>
        <div id="break"> </div>
        <div class="item"><a href="/checkout">Checkout</a></div>
        <div class="item" ><a href="/sale">On Sale</a></div>
        <div class="item" ><a href="/recent">Recently Updated</a></div>
        <div class="item"><a href ="/contact">Contact</a></div>
      </nav>
      <p>Yottabyte is not responsible for misprints or errors on product prices or information, for more information please see our Site Terms of Use. ©1996-2018 Yottabyte, Inc. All Rights Reserved. - W01</p>
    </footer>-->
  </body>
</html>
